"*":
  core:
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "Droid Sans Mono"
    invisibles: {}
  "exception-reporting":
    userId: "195aa9f9-25f7-08e5-7ad8-db426427ef14"
  fonts:
    fontFamily: "Inconsolata"
    preview: "This is a test"
  "sync-settings":
    _analyticsUserId: "3fe77c31-4d3a-430a-8096-3c4d21c1397e"
    _lastBackupHash: "e26ef430e0a715a43e26fe6a5dbab8f7769b8c3d"
    gistId: "8cd5b75af2bac8c86da21b69810d68f9"
    personalAccessToken: "4b7cf8589d46be053399323927c66de5826fbd20"
  welcome:
    showOnStartup: false
